@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
<<<<<<< HEAD

    --background: #181414;
    --background: #0a0a0a;
=======
    --background: #181414;
>>>>>>> 36348d2 (Updated About Me section to be responsive)
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
